<%- model_class = Property -%>

<div class="page-header">
  <h1>Compare Properties</h1>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<div class="col-sm-8 col-sm-offset-2">
        <table class="table compare">
            <tr>
                <th class="col-sm-3"></th>
                <th style="text-align: center;"><%= @properties[0].name %></th>
                <th style="text-align: center;"><%= @properties[1].name %></th>
            </tr>
            <tr>
                <th><span class="fa fa-globe"></span> Location</th>
                <td><%= image_tag("photo0000-1035.jpg", :size => "256x192") %>
                    <%= @properties[0].state %> <%= @properties[0].region %> <%= @properties[0].town %></td>
                <td><%= image_tag("photo0000-1035.jpg", :size => "256x192") %>
                    <%= @properties[1].state %> <%= @properties[1].region %> <%= @properties[1].town %></td>
            </tr>
            <tr>
                <th><span class="fa fa-usd"></span> Price</th>
                <td><%= @properties[0].price %></td>
                <td><%= @properties[1].price %></td>
            </tr>
            <tr>
                <th><span class="fa fa-user"></span> Population</th>
                <td><%= @properties[0].population %></td>
                <td><%= @properties[1].population %></td>
            </tr>
            <tr>
                <th><span class="fa fa-home"></span> Unit Type</th>
                <td><%= @properties[0].kind %></td>
                <td><%= @properties[1].kind %></td>
            </tr>
            <tr>
                <th><span class="fa fa-comment"></span> Description</th>
                <td><%= @properties[0].description %></td>
                <td><%= @properties[1].description %></td>
            </tr>

        </table>
</div>

<script type="text/javascript">
$(function () {

    $('#container').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: 'Budget vs spending',
            x: -80
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: ['Sales', 'Marketing', 'Development', 'Customer Support',
                    'Information Technology', 'Administration'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: 'Allocated Budget',
            data: [43000, 19000, 60000, 35000, 17000, 10000],
            pointPlacement: 'on'
        }, {
            name: 'Actual Spending',
            data: [50000, 39000, 42000, 31000, 26000, 14000],
            pointPlacement: 'on'
        }]

    });
});
</script>
