<%- model_class = Property -%>

<div class="page-header">
  <h1>Compare Properties</h1>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 400px; max-width: 750px; height: 500px; margin: 0 auto; background-color: transparent;"></div>

<div class="col-sm-8 col-sm-offset-2">
        <table class="table compare">
            <tr>
                <td class="col-sm-3"></td>
                <td style="text-align: center;"><%= @properties[0].name %></td>
                <td style="text-align: center;"><%= @properties[1].name %></td>
            </tr>
            <tr>
                <td><span class="fa fa-globe"></span> Location</td>
                <td><%= image_tag("photo0000-1035.jpg", :size => "256x192") %>
                    <%= @properties[0].state %> <%= @properties[0].region %> <%= @properties[0].town %></td>
                <td><%= image_tag("photo0000-1035.jpg", :size => "256x192") %>
                    <%= @properties[1].state %> <%= @properties[1].region %> <%= @properties[1].town %></td>
            </tr>
            <tr>
                <td><span class="fa fa-usd"></span> Price</td>
                <td><%= @properties[0].price %></td>
                <td><%= @properties[1].price %></td>
            </tr>
            <tr>
                <td><span class="fa fa-user"></span> Population</td>
                <td><%= @properties[0].population %></td>
                <td><%= @properties[1].population %></td>
            </tr>
            <tr>
                <td><span class="fa fa-home"></span> Unit Type</td>
                <td><%= @properties[0].kind %></td>
                <td><%= @properties[1].kind %></td>
            </tr>
            <tr>
                <td><span class="fa fa-comment"></span> Description</td>
                <td><%= @properties[0].description %></td>
                <td><%= @properties[1].description %></td>
            </tr>

        </table>
</div>

<script type="text/javascript">

$(function () {

    var current = window.location.href;
    var urls = current.split("?");

    $.ajax({
        type: "GET",
        url: urls[0] + ".json?" + urls[1],
        dataType: "json",
        success: function(data){

        $('#container').highcharts({

        chart: {
            polar: true,
            type: 'line',
            backgroundColor: '#f4f2ed'
        },

        title: {
            text: data[0].name + '  vs  ' + data[1].name,
            x: -80
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: ['Price', 'Population', 'Convenience'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: data[0].name,
            data: [data[0].price, data[0].population, 500],
            pointPlacement: 'on'
        }, {
            name: data[1].name,
            data: [data[1].price, data[1].population, 300],
            pointPlacement: 'on'
        }]

    });

        }
    });


});
</script>
