<%- model_class = Property -%>

<div class="col-lg-4">
  <div class="well sidebar-nav">
    <form class="form-horizontal" method="GET" action="/properties">
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-lg" type="button" id="state" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Choose State...
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="state">
                    <li><a href="#" data-value="nsw">New South Wales</a></li>
                    <li><a href="#" data-value="wa">Western Australia</a></li>
                    <li><a href="#" data-value="ql">Queensland</a></li>
                    <li><a href="#" data-value="nt">Northern Territory</a></li>
                    <li><a href="#" data-value="sa">South Australia</a></li>
                    <li><a href="#" data-value="v">Victoria</a></li>
                    <li><a href="#" data-value="t">Tasmania</a></li>
                    <li><a href="#" data-value="act">Australian Capital Territory</a></li>
                    <li><a href="#" data-value="jbt">Jervis Bay Territory</a></li>
                </ul>
                <input type="hidden" name="state" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-lg" type="button" id="town" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                   Choose Region...
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="town">
                    <li><a href="#" data-value="sr">Sydney Region</a></li>
                    <li><a href="#" data-value="hcnc">Hunter, Central & North Coasts</a></li>
                    <li><a href="#" data-value="isc">Illawarra & South Coast</a></li>
                    <li><a href="#" data-value="rnsw">Regional NSW</a></li>
                </ul>
                <input type="hidden" name="region" value="">
            </div>
        </div>
        <div class="form-group">
          <div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-lg" type="button" id="kind" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                   Choose Type of Unit...
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="kind">
                    <li><a href="#" data-value="house">House</a></li>
                    <li><a href="#" data-value="land">Land</a></li>
                </ul>
                <input type="hidden" name="kind" value="">
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" id="town" name="town" placeholder="Sydney">
        </div>
        <div class="row">
          <div class="col-sm-2">
            <span class="fa fa-usd"></span>
          </div>
          <div class="form-group col-sm-5">
            <select class="form-control" name="min_price">
              <option value="">Min</option>
              <option value="0">0</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
            </select>
          </div>
          <div class="form-group col-sm-5">
            <select class="form-control" name="max_price">
              <option value="">Max</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <span class="fa fa-user"></span>
          </div>
          <div class="form-group col-sm-5">
            <select class="form-control" name="min_population">
              <option value="">Min</option>
              <option value="0">0</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
            </select>
          </div>
          <div class="form-group col-sm-5">
            <select class="form-control" name="max_population">
              <option value="">Max</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value="400">400</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">
            <span class="fa fa-search"></span> Search</button>
    </form>
  </div>
</div>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="col-lg-8">

  <% @properties.each do |property| %>

    <div class="block">

      <h2><%= property.name %></h2>

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("photo0000-1035.jpg") %>
            <div class="carousel-caption">
            ...
            </div>
          </div>
        <div class="item">
          <%= image_tag("photo0000-1035.jpg") %>
          <div class="carousel-caption">
            ...
          </div>
        </div>
      </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="fa fa-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="fa fa-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <table class="table table-bordered">
        <tr>
          <th><span class="fa fa-usd"></span> <%= property.price %></th>
        </tr>
        <tr>
          <th><span class="fa fa-user"></span> <%= property.population %> people</th>
        </tr>
      </table>

    </div>

  <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:population) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:region) %></th>
      <th><%= model_class.human_attribute_name(:town) %></th>
      <th><%= model_class.human_attribute_name(:kind) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= link_to property.id, property_path(property) %></td>
        <td><%= property.name %></td>
        <td><%= property.price %></td>
        <td><%= property.population %></td>
        <td><%= property.state %></td>
        <td><%= property.region %></td>
        <td><%= property.town %></td>
        <td><%= property.kind %></td>
        <td><%=l property.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_property_path(property), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      property_path(property),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_property_path,
            :class => 'btn btn-default' %>
